<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>&#x25B4 &#x25BE About</title>
    <link rel="stylesheet" href="style.css">
</head>

<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="register-form">Register agent</a></li>
            <li><a href="map">Map</a></li>
        </ul>
    </nav>
</header>

<body>
    <h1>About</h1>
    <p>
    This is a UI for the <a href="https://spacetraders.io/">SpaceTraders API</a> resource-gathering game. The UI runs on a local HTTP server. It will not keep up with the ongoing additions and changes to the API, so feel free to fork under the terms of the license.
    </p>
    <h2>How to Use</h2>
    <ol>
        <li>Register a new agent. This is your player character within the SpaceTraders galaxy.</li>
    </ol>
</body>
</html>
