<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>&#x25B4 &#x25BE Map</title>
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="htmx.js"></script>
</head>

<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="register-form">Register agent</a></li>
            <li><a href="map">Map</a></li>
        </ul>
    </nav>
</header>

<body>
    <h1>{{.System}} Map</h1>
    <table>
        <tr>
            <th class="legend">Planet</th>
            <th class="legend">Moon</th>
            <th class="legend">Engineered Asteroid</th>
            <th class="legend">Asteroid</th>
            <th class="legend">Fuel Station</th>
            <th class="legend">Jump Gate</th>
            <th class="legend">Asteroid Base</th>
            <th class="legend">Gas Giant</th>
            <th class="legend">Orbital Station</th>
        </tr>
        <tr class="map-height">
            <td class="PLANET-cell"></td>
            <td class="MOON-cell"></td>
            <td class="ENGINEERED_ASTEROID-cell"></td>
            <td class="ASTEROID-cell"></td>
            <td class="FUEL_STATION-cell"></td>
            <td class="JUMP_GATE-cell"></td>
            <td class="ASTEROID_BASE-cell"></td>
            <td class="GAS_GIANT-cell"></td>
            <th class="ORBITAL_STATION-cell"></th>
        </tr>
    </table>
    <table>
        <caption>Map of the {{.System}} solar system</caption>
        {{- $divisor := .Divisor -}}
        {{- $minX := .MinX -}}
        {{- $curX := .MinX -}}
        {{- $curY := .MaxY -}}
        {{- $waypoints := .Waypoints -}}
        {{- $xRange := .XRange -}}
        {{- $foundMatch := false -}}
        {{- range .YRange -}}
        <tr class="map-height">
            {{- $curX = $minX -}}
            {{- range $xRange -}}
                {{- $foundMatch = false -}}
                {{- range $idx, $unused := $waypoints -}}
                    {{- if (and (eq (div .X $divisor) $curX) (eq (div .Y $divisor) $curY)) -}}
                        <td class="map-width {{ .Type  }}-cell" hx-put="/map-describe"
                                hx-swap="outerHTML" hx-trigger="click"
                                hx-vals={{- jsonVals .Type $idx -}}>
                        </td>
                        {{- if not (eq .Type "ASTEROID") -}}
                            {{- println .Type -}}
                        {{- end -}}
                        <!--TODO: moons often have exact same (x,y) coord-->
                        {{- $foundMatch = true -}}
                        {{- break -}}
                    {{- end -}}
                {{- end -}}
                {{- if (eq $foundMatch false) -}}
                    <td class="map-width"></td>
                {{- end -}}
                {{- $curX = increment $curX -}}
            {{- end -}}
            </tr>
            {{- $curY = decrement $curY -}}
        {{- end -}}
    </table>
</body>
</html>
