<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Spacetraders Dashboard">
    <title>&#x25B4 &#x25BE Spacetraders Dashboard</title>
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="htmx.js"></script>
</head>

<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="register-form">Register agent</a></li>
            <li><a href="map">Map</a></li>
        </ul>
    </nav>
</header>

<body>
    <h1>Spacetraders Dashboard</h1>
    <table>
        <thead>
            <th>Agent</th>
            <th>HQ</th>
            <th>Credits</th>
            <th>Faction</th>
            <th>Ships</th>
        </thead>
        <tbody>
            <td>{{.Agent.Symbol}}</td>
            <td>{{.Agent.Headquarters}}</td>
            <td>{{.Agent.Credits}}</td>
            <td>{{.Agent.InitialFaction}}</td>
            <td>{{.Agent.ShipCount}}</td>
        </tbody>
    </table>
    <table>
        <thead>
            <tr><th></th>
            {{range .Ships}}
                <th>{{.Symbol}}</th>
            {{end}}
            </tr>
        </thead>
        <tbody>
            <tr><th>Location</th>
                {{range .Ships}}
                    <td>{{.Nav.WaypointSymbol}}</td>
                {{end}}
            </tr>
            <tr><th>Status</th>
                {{range .Ships}}
                <td><form hx-put="flip-status" hx-target="this" hx-swap="outerHTML">
                        <div>{{.Nav.Status}}</div>
                        <input type="hidden" name="ship" value="{{.Symbol}}"/>
                        <button name="flip-status" value="IN_ORBIT">Orbit</button>
                        <button name="flip-status" value="DOCKED">Dock</button>
                    </form>
                </td>
                {{end}}
            </tr>
            <tr><th>Arrival</th>
                {{range .Ships}}
                    <td>{{.Nav.Route.Arrival}}</td>
                {{end}}
            </tr>
            <tr><th>Origin</th>
                {{range .Ships}}
                    <td>{{.Nav.Route.Origin.Symbol}}</td>
                {{end}}
            </tr>
            <tr><th>Dest.</th>
                {{range .Ships}}
                    <td>{{.Nav.Route.Destination.Symbol}}</td>
                {{end}}
            </tr>
            <tr><th>Fuel</th>
                {{range .Ships}}
                    <td>{{.Fuel.Current}}/{{.Fuel.Capacity}}</td>
                {{end}}
            </tr>
            <tr><th>Cargo</th>
                {{range .Ships}}
                    <td>{{.Cargo.Units}}/{{.Cargo.Capacity}}</td>
                {{end}}
            </tr>
            <tr><th>Type</th>
                {{range .Ships}}
                    <td>{{.Frame.Name}}</td>
                {{end}}
            </tr>
            <tr><th>Speed</th>
                {{range .Ships}}
                    <td>{{.Engine.Speed}}</td>
                {{end}}
            </tr>
            <tr><th>Travel</th>
                {{- range $idx, $unused := .Ships -}}
                    <td id="td-travel-{{$idx}}"><button hx-get="/travel" hx-swap="outerHTML"
                        hx-vals='{"ship":"{{- .Symbol -}}"}'>
                        Travel</button>
                    </td>
                {{- end -}}
            </tr>
            <tr><th>Extract</th>
                {{- range $idx, $ship := .Ships -}}
                    {{- $foundMiningLaser := false -}}
                    {{- range .Mounts }}
                        {{- if eq "MOUNT_MINING_LASER_II" .Symbol -}}
                            <!--TODO: generalize by using a funcMap func to remove the numeral suffix-->
                            <td id="td-extract-{{$idx}}">
                                <button
                                hx-get="/extract"
                                hx-swap="outerHTML"
                                hx-target="this"
                                hx-vals='{"ship":"{{- $ship.Symbol -}}"}'>
                                Extract</button>
                            </td>
                            {{- $foundMiningLaser = true -}}
                            {{- break -}}
                        {{- end -}}
                    {{- end -}}
                {{- end -}}
            </tr>
            <tr><th>Sell Cargo</th> <!--TODO: add buy/sell <select> menu in server.go-->
                {{- range $idx, $ship := .Ships -}}
                    {{- if gt $ship.Cargo.Capacity 0 -}}
                        <td id="td-sell-{{$idx}}">
                            <button
                            hx-get="/sell"
                            hx-swap="outerHTML"
                            hx-target="this"
                            hx-vals='{"ship":"{{- $ship.Symbol -}}"}'>
                            Sell</button>
                        </td>
                    {{- end -}}
                {{- end -}}
            </tr>
        </tbody>
    </table>

</body>
</html>
