<!DOCTYPE html>
<body>
    {{- if eq .Ship.Nav.Status "DOCKED" -}}
        <p><strong>{{.Ship.Symbol}} is docked and must be in orbit to travel</strong></p>
    {{- else -}}
        <p>Set travel destination for {{.Ship.Symbol}}</p>
    {{- end -}}
    <p>Current location: {{.Ship.Nav.SystemSymbol}}</p>

    <label>Dest. Type</label>
    <select name="dest-type" hx-get="/travel-filter-dests"
        hx-vals='{"system":"{{- .Ship.Nav.SystemSymbol -}}"}'
        hx-target="#dests">
        <option value="PLANET">Planet</option>
        <option value="MOON">Moon</option>
    </select>

    {{- $destType := .DestType -}}
    <label>Dest. ID</label>
    <select id="dests" name="dest-id">
        {{- range .Waypoints -}}
            {{- if eq .Type $destType -}}
            <option value={{$destType}}>{{- .Symbol -}}</option>
            {{- end -}}
        {{- end -}}
    </select>
</body>
