html {
    background-color: ivory;
}
h1,h2,h3,h4 {
    text-align:center;
}
body {
    font-family: sans-serif;
}
table {
    text-align: center;
    border-collapse: collapse;
}
td, th {
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
nav {
    background-color: #ddd;
    width: 100%;
}
nav ul {
    width: 100%;
    list-style: none;
}
nav ul li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}
table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 1px;
}
.map-cell {
    height: 1em;
}
.PLANET-cell {
    background-color: blue;
}
.MOON-cell {
    background-color: #0b0;
}
.ASTEROID-cell {
    background-color: #aaa;
}
.FUEL_STATION-cell {
    background-color: #eea500;
}
.JUMP_GATE-cell {
    background-color: fuchsia;
}
.ASTEROID_BASE-cell {
    background-color: #0bb;
}
.ENGINEERED_ASTEROID-cell {
    background-color: black;
}
.GAS_GIANT-cell {
    background-color: red;
}
.ORBITAL_STATION-cell{
    background-color: black;
}
.map-width {
    width: 0.12em;
}
.map-height {
    height: 0.25em;
}
.bordered {
    border: 1px solid black;
}
.legend {
    padding-left: 4px;
    padding-right: 4px;
}
